.chessrow {
    height: 12.5vh;
}

.chesscolumn {
    width: 12.5vh;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.chesspiece {
    max-height: 12.5vh;
    display: block;
    margin: auto;
    min-width: 12.5vh;
    box-sizing: border-box;
}

.emptypiece {
    min-height: 12.5vh;
    display: block;
    margin: auto;
    min-width: 12.5vh;
    box-sizing: border-box;
}
